<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Welcome to BookCase</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
</head>

<body>

<div class="jumbotron text-center">
    <h1>Welcome to BookCase</h1>
    <p>Select from one of the options available below to manage your library.</p>
    <a class="btn btn-primary" href="/viewBooks">View your books</a>
    <a class="btn btn-success" href="/addBook">Add new books</a>
    <a class="btn btn-warning" href="/editDeleteBook">Edit your books</a>
</div>

</body>

</html>